@media (max-width: 620px) {
    .geral {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        right: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokemon-cartao {
        height: 480px;
    }

    .cartao .imagem-pokemon {
        max-height: 230px;

    }
}